# string comparision , operation and information

In [2]:
import numpy as np

In [3]:
char1 = " I Love Aadya"
char2 = "Learning Python"

In [4]:
np.char.add(char1 , char2)

array(' I Love AadyaLearning Python', dtype='<U28')

In [5]:
np.char.lower(char1)

array(' i love aadya', dtype='<U13')

In [6]:
np.char.upper(char1)

array(' I LOVE AADYA', dtype='<U13')

In [7]:
np.char.center(char2 , 60)

array('                      Learning Python                       ',
      dtype='<U60')

In [8]:
np.char.center(char1 , 60 , fillchar = "*")

array('*********************** I Love Aadya************************',
      dtype='<U60')

In [9]:
np.char.split(char2)

array(list(['Learning', 'Python']), dtype=object)

In [10]:
np.char.splitlines("yash\nrastogi")

array(list(['yash', 'rastogi']), dtype=object)

In [11]:
char3 = "dmy"
char4 = "dmy"

In [12]:
np.char.join(["-","/"],[char3,char4])

array(['d-m-y', 'd/m/y'], dtype='<U5')

In [13]:
np.char.replace(char1 , "Aadya","Parkhi")

array(' I Love Parkhi', dtype='<U14')

In [14]:
np.char.equal(char3,char4)

array(True)

In [15]:
np.char.count(char1 , "a")

array(2)

In [16]:
np.char.find(char1 , "Parkhi")

array(-1)